---
---

@import "{{ site.theme }}";


a {
  color:#db4b55;
  
}

a:hover, a:focus {
  color:#ba4049;
  font-weight: normal;
  font-decoration: underline
}

a:post-link::hover{
  font-weight: normal;
  font-decoration: underline
}


header img.header-logo{
width: 5em;
}
