---
---

@import "{{ site.theme }}";


a {
  color:#CC3A1B;
  
}

a:hover, a:focus {
  color:#A32B11;
  font-weight: normal;
  font-decoration: underline
}

a:post-link::hover{
  font-weight: normal;
  font-decoration: underline
}


header img.header-logo{
width: 5em;
}
